# ksource/Kconfig - 内核态驱动配置（控制是否编译进 KO）
menu "ksource Configuration"

menuconfig KSOURCE_SWITCH
    bool "class switch"
    default n
    help
        class switch.
source "$(PRJ_ROOT)/ksource/switch/Kconfig"
endmenu

